<div class="container">
	<h1><%= @artist.name %></h1>
	<img src="<%= @artist.image_url %>" class="img-rounded">
	<h3>Albums(<%= @artist.albums.length %>)</h3>
	<div class="row">

		<% @artist.albums.each do |i| %>
		<div class="col-sm-2 col-xs-3 thumbnail">
			<img src="<%= i.image_url %>" style="width:100%">
			<div class="caption">
			    <p><%= i.name %></p>
			    <p><%= i.released_at %><p>
			</div>
		</div>
		<% end %>

	</div>
</div>